* {
    box-sizing: border-box;
}
.header, .footer {
    background-color: white;
    color: Black;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    padding: 15px;
}
.column {
    float: right;
    padding: 15px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.menu {
    width: 25%;
}
.content {
    width: 75%;
    height: 75%;
    float: right;
    position: relative;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
}
.menu li:hover {
    background-color: #0099cc;
    cursor: pointer;
}
.pauseImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 10000000000;
    cursor: pointer;
    display: inline-block;
}
